@use "../global" as *;

.l-header {
    font-size: 12px;
}

.l-header__container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
}

.l-header__buttons {
    height: 70px;
    background-color: red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.l-header__button {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l-header__button-hamburger a {
    display: flex;
    justify-content: center;
}

.l-header__button-access a img,
.l-header__button-search a img,
.l-header__button-hamburger {
    max-width: 24px;
    margin-left: 23px;
}

.l-header__button-access a,
.l-header__button-search a,
.l-header__button-hamburger a {
    color: #fff;
}

.l-header__button-hamburger {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 18px;
}

.l-header__hamburger-bar {
    display: block;
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
}

.l-header__hamburger-bar:first-child {
    top: 20%;
}

.l-header__hamburger-bar:nth-child(2) {
    top: 40%;
}

.l-header__hamburger-bar:last-child {
    top: 60%;
}

.l-header__text {
    text-align: center;
}

.l-header__text-hamburger {
    width: 70px;
    margin-top: 18px;
}

.l-header__border {
    border: 1px solid #ccc;
    width: 100%;
}

.l-header__nav {
    padding: 15px;
}

.l-header__lists {
    display: flex;
    align-items: center;
}

.l-header__list {
    margin-left: 15px;
}

.l-header__list a {
    color: #333;
}